{% extends "base_generic.html" %}

{% block content %}
<div class="login">
    <div class="hero">
        <h1>重置密码</h1>
        <p>请输入你的用户名、邮箱和新密码以重置密码。</p>
        <div>
                <span class="error">{{ form.username.errors }}</span>
                <span class="error">{{ form.email.errors }}</span>
                <span class="error">{{ form.new_password1.errors }}</span>
                <span class="error">{{ form.new_password2.errors }}</span>
                <div class="error">{{ form.non_field_errors }}</div>
            </div>
    </div>
    <div class="main">
        <form method="post">
            {% csrf_token %}

            <p>
                <input type="text" name="username" placeholder="用户名" required>
            </p>
            <p>
                <input type="email" name="email" placeholder="邮箱" required>
            </p>
            <p>
                <input type="password" name="new_password1" placeholder="新密码" required>
            </p>
            <p>
                <input type="password" name="new_password2" placeholder="确认密码" required>
            </p>
            <p>
                <input type="submit" class="submit" value="重置密码">
            </p>
        </form>

        <div class="options">
            <div class="separator">
                <p>返回登录注册</p>
            </div>
            <p>还没有账号？<a href="{% url 'account_register' %}" class="button">立即注册</a></p>
            <p>已有账号？<a href="{% url 'account_login' %}" class="button">立即登录</a></p>
        </div>
    </div>
</div>
{% endblock %}